@font-face {
	font-family: 'Outfitf';
	font-display: swap;
	font-stretch: expanded;
	font-style: normal;
	src: url('font/Outfit.ttf');
}
:root{
  --bg: #e3ffe0;
  --text: #000;
  --entrybg: #f6fff4;
  --linething:#84d985;
  --whiteish: #eee
}

body {
  font-family: -apple-system, "Outfitf" ,sans-serif;
margin: 0 auto;
font-weight: 400;
  background: #e3ffe0;
  color: #223322;
max-width: 600px;
width: 100%;
padding:0 10px;
}
.checked{
  border: #000 2px solid !important;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
}
dt{
font-weight:540}

dl{
margin:0.5em}
#outbox {
  margin-top: 1em;
  display: flex;
  align-items: center;
  
}

.langbuttons{
  border: 1px solid var(--text);
  color:var(--text);

}
.langbutton{
  border: none;
  padding: 5px;
  margin:0 5;
  font-family: inherit;
  border-radius: 20px;
  width: 65px;
}
#xex{ 
   background-color: rgb(96, 0, 131)!important; 
  color:var(--whiteish) !important;
}
#eberban{
  background: linear-gradient(60deg, #FF66B3 0 40%, #FFF 40% 60%, #66B2FF 60% 100%);
}
#lyk{
  background-color: #84d985;
}
#toaq{
  /*background: linear-gradient(90deg, #D983C2 60% #04CAFC 100%);*/
  background: linear-gradient(60deg, #FFAEC9 0 40%, #99D9EA 60% 100%);
}
#ith4{
  background-color: #ff4545;
}

#search {
  flex: 1;
  padding: 0.5em;
  font-size: 1em;
  height:2em;
  border-radius: 6px;
  border: 1px solid #aaa;
  font-family: inherit
}

.entry {
  border: 1px solid #ddd;
  background: #f6fff4;
  border-radius: 8px;
 padding: 1em;
  margin-top: 1em;

  border-left: 4px solid #84d985;
  box-shadow: 0 0 3px rgba(0, 64, 0, 0.1);
  position: relative
}

.official {
color:  #003d00;
font-weight: bold;
border-bottom: 1px solid;

}


dd{
  padding-top:10px
}

.wordbox {
  color: #135513;
  text-decoration: none;
  font-size: 1.2em;
  margin-right: 0.5em;
  color: #000;
  display: inline-block;
}

.sign {
    background: #d2ffd2;
  border-radius: 4px;
      padding: 0.1em 0.4em;
color:gray;
 display: flex;
 justify-content: space-between;
  align-items: center;
}

.score {
      padding: 0.1em 0.4em;
color:gray;
 white-space: nowrap;
}

.posbox {
  background: #d2ffd2;
  border: 1px solid #88cc88;
  border-radius: 4px;
  padding: 0.1em 0.4em;
float:right
}


.posbox {
  color:gray;
  padding: 0.1em 0.4em;
}


details summary {
  cursor: pointer;
  margin-top: 0.5em;
}
#resnum,#resnuml {
  margin-top: 0.5em;
  font-size: 0.9em;
  color: #444;
  display:inline-block
}
#resnuml{
  float:right
}
#afterresults{
font-size: 3em;
}ul {
  margin: 0;
  padding-left: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.n {

color:rgb(143, 50, 50);
}

.toaqnote {
  padding-left:1.5em;
  margin-top:-1.5em;
  margin-bottom: 1em
}

.arg{
  display: inline;
  padding: 1px 4px;
  margin: 5px 0;
  background-color: #88cc88;
  border-radius: 3px;
  color: #ffffff;
}
